<div class="card product-item">
    
    <div class="card-body ">
        <div class="row">
          <input type="hidden" name="id" [(ngModel)]="productItem.id">
      <label class="card-title product-item-title">{{productItem.name}}</label>
      <div class="add-remove">
        <input style="text-align: center;" multiline class="comments" (keyup.enter)="onComment(this.productItem)" [(ngModel)] = "productItem.comment" placeholder="Comment" >
      <button (click)="onAdd(this.productItem)" class="add-remove1" style="background-color: black; color: white;"> + </button>
      <button (click)="onDecrease(this.productItem)" class=" add-remove1 "style="background-color: whitesmoke; "> - </button>
      <label style="margin-bottom:10px ;" class="product-item-amount">{{productItem.qty}}</label>
      
    </div>
    <button (click)="deleteProductItem(productItem)"  class="btn btn-primary delete-item-btn">x</button>
    </div>
      
    </div>
  </div>